<div class="d-flex msg-<%= message.pc %>">

    <div class="d-flex flex-column">
        <small class="text-secondary mt-2">
            <%= message.sender %>
        </small>
        <span class="p-2 baloon-<%= message.pc %> round shadow-sm chat-baloon">
            <%= message.body %>
        </span>
        <small class="text-secondary mt-2" style="opacity: .5;">
            <%= message.msg_time %>
        </small>
    </div>
</div>