
<h1>Message#index</h1>

<%= form_with(model: @message, remote: true) do |f| %>
<div class="row">
    
    <%= f.label :body, "message" %>
    <br>
    <%= f.text_field :body, required: true, data: { message: true }  %>
    <%= f.submit "Submit", data: {disable_with: false} %>
</div>
<% end %>
<p>dummy message</p>

<%#= turbo_stream_from "messages" %>
<%# Q: is it have to with div with id same as object(s) %>
<div id="messages">
    <%= render @messages %>
</div>
