<div class="mc">
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <span class="navbar-brand mb-0 h1">Live Chat</span>
            <div class="d-flex btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#changeNameModal" id="modalTrigger">
                <%= @current_user %>
                <i class="bi bi-pencil-square ms-2"></i>
            </div>
        </div>
    </nav>

    <%# Q: is it have to with div with id same as object(s) %>

    <template>
        <div class="d-flex ">
            <div class="d-flex flex-column">
                <small class="text-secondary mt-2">
                </small>
                <span class="p-2  round shadow-sm chat-baloon">
                </span>
                <small class="text-secondary mt-2" style="opacity: .5;">
                </small>
            </div>
        </div>
    </template>
    
    <div class="container my-4 flex-grow-1 d-flex flex-column">
        <div class="chatbox round bg-body-tertiary px-4 pb-4" id="messages">
            <%= render @messages %>
        </div>

        <% if @current_user %>
        <%= form_with(model: @message, remote: true, data: {
            controller: "reset-form", action: "turbo:submit-end->reset-form#reset"
        }) do |f| %>
        <div class="input-group mt-4">
            <br>
            <%= f.text_field :body, required: true, class:"form-control", id: "mychatfieldd", data: { message: true }  %>
            <%= f.submit "Send", class:"btn btn-primary col-lg-1 col-md-3 col-sm-2", data: {disable_with: false} %>
        </div>
        <% end %>
        <% end %>
    </div>

    <div class="modal" tabindex="-1" id="changeNameModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <%= form_with url: "/setname", method: :post do |f| %>
                <%= f.text_field :current_user, class:"form-control" %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <%= f.submit "Save Change", class:"btn btn-primary" %>
                <% end %>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        <% if !@current_user %>
        document.querySelector('#modalTrigger').click()
        <% end %>

        const chatbox = document.querySelector('#messages');

        const scrollDown = () => {
            chatbox.scrollTop = chatbox.scrollHeight
        }

        scrollDown()

    });

</script>