<a href="/articles">Back to List</a>
<h1> <%= @article.title %> </h1>
<p> <%= @article.body %> </p>
<ul>
    <li>

        <%= link_to "edit", edit_article_path(@article) %>
    </li>
    <li>

        <%= link_to "delete", article_path(@article), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure ?"
    } %>
    </li>
</ul>

<h2>Comments</h2>
<ul>
    <%= render @article.comments %>
</ul>

<h2>Add Comments</h2>

<%= render 'comments/form', article: @article %>